:host
  display flex
  justify-content space-between
  padding-left: 24px
  background #3D3D3D
  height 64px
  color: #BEBEBE
  .left-side
  .right-side
    display flex
    align-items center
    .logo
      margin-right 30px
      content url("/assets/logo.svg")
    .organisation
      display: flex;
      align-items: center;
      height: 32px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-transform uppercase
      line-height: 32px;
      padding-left 15px
      border-left: 2px solid #565656;
      cursor pointer
      svg
        margin-left 8px
        fill: #F3F3F3
      &:hover
        color: #fff
        svg
          fill: #fff
    .button
      display flex
      align-items: center
      justify-content center
      width: 64px;
      min-width: auto;
      height 64px;
      cursor pointer
      background-color: inherit
      &:hover
        background-color #181818
        transition background-color 0.3s

