<div class="left-side">
  <div class="logo"></div>

  <div class="organisation">
    ООО "Абрадокс"
    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 6L10 1L9.293 0.293L5 4.586L0.707 0.293L0 1L5 6Z"/>
    </svg>
  </div>
</div>


<div class="right-side">
  <div class="button">
    <img src="/assets/user-icon.svg" >
  </div>
  <div class="button comments-link">
    2
  </div>
  <div class="button">
    3
  </div>
</div>


