:host
  display: block
  position: relative
  background #3D3D3D
  padding 24px 24px 48px
  color #F3F3F3

.title
  width: 300px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
ul
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  padding-left: 17px;
  list-style: square;
  li
    width 260px
.some-icon
  position absolute
  bottom: 21px
  right 21px
  font-size: 0;
