:host
  display: block
  position: relative
  padding-bottom 48px
  color #F3F3F3

.title
  width: 300px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
ul
  margin 0
  line-height: 24px;
  letter-spacing: 0.16px;
  padding-left: 20px;
  list-style: square;
  li
    width 260px
.some-icon
  position absolute
  bottom: 21px
  right 21px
  font-size: 0;
