:host
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background url("/assets/cube.png") no-repeat

.login-pane
  display: flex;
  flex-direction: column;
  width: 500px
  margin 32px 8px 32px
  padding: 65px
  background-color: #282828
  color #BEBEBE
  font-size 14px
  h1
    width 295px
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
  .link
    cursor pointer
    margin-bottom: 44px
    transition color 0.3s linear
    &:hover
      color #6EA6FF
  form
    flex: 1 1 100px;
    margin-bottom 30px
    button
      margin-top 15px
  .more-info-link
    display inline-block
    margin-top 7px
    color: #6EA6FF;
    cursor pointer
    transition color 0.3s linear
    &:hover
      color: #3f87f9
