:host
  font-size: 14px
  background: #3D3D3D;
  padding 24px
  display flex
  flex-direction column

.title
  color: #F3F3F3;
  margin-bottom 16px

.description
  font-size: 14px

.available-sum
  margin-bottom 24px
  .sum
    display: block
    color: #F3F3F3;
    font-size: 42px;
    line-height: 50px;
.hold-sum
  flex-grow: 1
  margin-bottom 24px
  .sum
    display: block
    font-size: 20px;
    line-height: 24px;
    color: #F3F3F3;



.link
  font-size: 14px;

