:host
  font-size: 14px
  display flex
  flex-direction column

.title
  color: #F3F3F3;
  margin-bottom 16px
  font-size: 16px;

.description
  font-size: 14px

.available-sum
  margin-bottom 29px
  .sum
    display: block
    color: #F3F3F3;
    font-size: 42px;
    line-height: 50px;
.hold-sum
  flex-grow: 1
  margin-bottom 24px
  .sum
    display: block
    font-size: 20px;
    line-height: 24px;
    color: #F3F3F3;


.button
  margin-right: 33px;
.link
  font-size: 14px;

