.title
  margin-bottom: 19px;

.requests-list
  margin-bottom 30px
  .request
    display flex
    justify-content space-between
    margin-bottom 16px
    .left-side
      flex 1 1 50%
    .right-side
      flex 1 1 50%
